/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style:disc;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  height: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* multiple used class */
.primaryContainer{
  padding-block: 2rem;
}
.secondaryContainer{
  padding-block: 1rem;
}
.image{
  width: 21rem;
  height: 25rem;
  transition: ease-in-out .4s;
}
.image:hover{
  width: 22.8rem;
}
img{
  object-fit:cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 215, 0, .6);
}
.grid{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  gap: 2rem 1rem;
}

/* body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: black;
    width: 90%;
    margin-inline: auto;
}

/* header */
header h1{
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 215, 0, .8);
}

/* score */
.scoreDiv h3{
  font-size: 1.4rem;
  color:rgba(255, 255, 255, .88);
}

/* card */
.Card{
  background-color: rgba(255, 255, 255, .2);
  padding: 1.5rem;
  border-radius: 10px;
  margin: auto;
  border: 2px solid rgba(255, 215, 0, .6);
  cursor: pointer;
}
.Card h2{
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 215, 0, .6);
}
